/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

@font-face {
  font-family: "Block Berthold";
  src: url("../res/fnts/blockberthold.otf");
}
p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes MOVE-BG {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -500vw -300vh;
  }
}

.bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background-color: #072AC8;
  background: url("../res/imgs/sparkling-sea.JPG");
  animation: MOVE-BG 100s linear infinite;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100vw 100vh;
  /* background-size: auto 100%; */
/*adjust s value for speed*/
  
}

body {
  
  /* background: url("../res/imgs/chill-guy.jpeg"); */
  /* background-size:contain; */
  /* background-color: #072AC8; */
  color: #072AC8;
  font-family: Block Berthold;
  margin:0;
  /* display:grid;
  grid-template-areas:
    "everything-else vertical-text"
  ; */
  /* #vertical-text{grid-area:vertical-text;} */
}

#head-body{grid-area:everything-else;}

/*   
  #vertical-text p{
    writing-mode: vertical-rl;
    text-orientation: sideways;
  } */

/**************************[ HEADER ]**************************/

.header {
  border-radius:10px;
  background-color:#FFC600;
  text-align: center;
  border: 5px, none, #072AC8;
  border-style:double;
  
  /* color:#FFC600; */
  /* display:grid; */

  width:80%;
  /* height:100%; */
  /* height:100%; */
  margin:2% auto 0;
}

#title-graphic > img {
  width:20vw;
  height:20vw;
  /* max-width:100%; */
}

.container#title-graphic{
  text-align: justify;;
  grid-template-areas:
    "title-left title-center title-center title-right"
  ;
  display:grid;
  width:100%;
  /* height:250px; */
  /* height:20%; */
  /* max-height:20%; */
}

#title-left {grid-area:title-left;
  /* display:grid; */
  /* height:100%; */
  /* float: */
}
#title-right {grid-area:title-right;
  /* display:grid;   */
  /* height:100%; */
  margin: 0 0 0 auto;
  /* color:green; */
}

img#title-center{grid-area:title-center; /* THRICE-UPON-A-TIME */
  background-color: red;
  /* max-height:100%; */
  width:40vw;
  /* height:100%; */
  object-fit:fill;
  /* font-size:2.3vw; */
  /* font-family:Arial, Helvetica, sans-serif; */
  /* background-color: white; */
}

#neocities-row {
  padding:8px 0 6px;
  border-top:#072AC8 dotted 1px;
  border-bottom:#072AC8 solid 1px;
  background-color:beige;
}

.buttonz {
  /* width:88px; */
  height:31px;
  margin:0px;
  
}

.header #page-subtitle{
  /* font-stretch:condensed; */
  margin:0;
  font-size:31px;
}

.header #page-title{
  font-size: 400%;
  margin:0;
  position:static;
  /* font-stretch: semi-condensed; */
  /* margin-left:auto;
  margin-right:auto; */

}

/**************************[ CONTENT BODY ]**************************/

#content-body /*GRID-CONTAINER*/ {
  display:grid;
  grid-template-areas:
    "left center center center right right"
  ;
  /* width:80vw; */
  margin:1.5% 10vw 50px;
  /* margin:2% 10% 0; */
  /* grid-column: ; */
  
}

#content-body > .container-column {
  /* width:100%; */
  /* border-radius:10px; */
}

/**************************[ CONTAINER COLUMNS ]**************************/

.container-column {
  
  background:white;
  /* border: 5px, dotted, #FFC600; */
  box-shadow: 0px 0px 10px 1px white;
  /* border-style:dotted; */
  /* margin:0 left 0; */
  /* padding:10px; */
  
  /* text-wrap:wrap; */
  display:grid;
  
  /* min-width:20%; */
  /* width:20%; */
  
  /* max-width:100%; */
}

.container-column p {
  /* color:red; */
  color:hsl(229, 91%, 71%);
  padding:0px 40px 0px;
}

.container-column h1, h2 {
  padding:0px 30px 0px;
}

.container-column h3, h4, h5, h6 {
  padding:0px 35px 0px;
}

.container-column img {
  width:100%;
}

/* MAIN CONTENT GRID SYSTEM */
/* children of .container-column */
.container-column.left {grid-area:left;
  /* column-width:; */
  background-color: #A2D6F9;
  min-width:100%;
  /* width:20%; */
}
.container-column.center {grid-area:center;
  min-width:100%;
  /* width:40%; */
  
  /* max-width:40%; */
  /* font-size: ; */
}
.container-column.right {grid-area:right;
  min-width:100%;
  border-left:3px dotted;
}

/**************************[ LEFT COLUMN CONTENT ]**************************/
#welcome {
  /* background-color:blue; */
}
#log {
  border-top:solid #072AC8;
  border-bottom:solid #072AC8;
  background-color: #A2D6F9;
}


/**************************[ CENTER COLUMN CONTENT ]**************************/

/**************************[ RIGHT COLUMN CONTENT ]**************************/
#adspace {
  /* background-color:black; */
}

#adspace > #first-row {
  display:flex;
}

#adspace > #first-row > img {
  float:right;
  
  min-width:48%;
  max-width:48%;
  border:black solid 2px;
  /* margin:1% 0 1%; */
  /* margin-left:1%; */
  /* margin-right:-2px;*/
  /* box-shadow: 0px 0px 10px 1px green; */
  margin:5% 5% 0;
  padding:0 0 0;
}

#adspace > a{
  font-family:Arial, Helvetica, sans-serif;
  float:right;
  text-decoration: underline;
  padding:0 5% 0;
}



/**************************[ RESPONSIVE CSS ]**************************/
/* changed from 800 to 000px temporarily */
@media only screen and (max-width: 000px) {

  .header {
    width:98vw;
    margin:0vw 0% 0;

  }

   #content-body {
    padding:0 0% 50px;
   }
   .container-column {
    min-width:21vw;
    max-width:21vw;
  }

  /* MAIN CONTENT GRID SYSTEM */
  /* children of .container-column */
  .left {grid-area:left;
    background-color: #A2D6F9;
  }
  .center {grid-area:center;
    min-width:46vw;
    max-width:46vw;
    /* font-size: ; */
  }
  .right {grid-area:right;
    /* max-width:25%; */
  }
}

